doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  title Vehicle Registration
div
  img.homepage-bg(src='./images/bob-flavin-pic.jpg' alt='Image')
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.nav-link.nav-item(href='/home' style='font-size: 23px') Welcome to Parkville System
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.me-auto.mb-2.mb-lg-0
          
         
        // This is the logout button
        form.d-flex
          a.btn.btn-outline-success.logout-button(href='/') Logout
  .container-fluid
    .row
      .col-3
        .row
          .card.home-card.bg-light(style='width: 16rem;')
            img.card-img-top(src='/images/car parking.jpg' alt='Parking')
            .card-body
              a.btn.btn-primary.card-button(href='/vehicleReg' style='font-size:17px;') Go to Parking Section 
          .card.home-card.bg-light(style='width: 16rem;')
            img.card-img-top(src='/images/batterynew.jpg' alt='Battery' style='height:170px;')
            .card-body
              a.btn.btn-primary.card-button(href='/battery' style='font-size:17px;') Go to Battery Section
      .col
        .row
          .card.home-card.bg-light(style='width: 16rem;')
            img.card-img-top(src='/images/tyresnew.jpg' alt='Tyre clinic' style='height:150px;')
            .card-body
              a.btn.btn-primary.card-button(href='/tyre' style='font-size:17px;') Go to Tyre Section
          .card.home-card.bg-light(style='width: 16rem;')
            img.card-img-top(src='/images/carwashh.png' alt='Car wash' style='height:170px;')
            .card-body
              a.btn.btn-primary.card-button.disabled(href='#') Coming Soon 
      .col
        img(src='/images/FastCarWash (1).png')
