doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  title Vehicle Registration
div
  img.img-bg(src='/images/bob-flavin-pic.jpg' alt='Image')
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      | Already registered? 
      a.nav-link.nav-item(href='/') Login
     
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.me-auto.mb-2.mb-lg-0
          li.nav-item
         
            
            
        // This is the logout button
        form.d-flex
          a.btn.btn-outline-success.logout-button(href='/') Logout
  // End of the nav bar
  .container.py-5.h-100
    .container.row.justify-content-center
      .col.col-xl-10
        .card.bg-light
          .container.col-md-7
            .container
              form.form-horizontal(name='register' method='POST' action='/register' onsubmit="return validateForm()" )
                h2 Registration
                .form-group
                  label.col-sm-3.control-label(for='firstName') First Name*
                  .col-sm-9
                    input#firstname.form-control(type='text' placeholder='First Name' size='50' onblur='userN(4,12)' autofocus='' name='firstname')
                  #fName.text-danger.font-weight-bold.small
                  // i commented this work incase you need it
                  // <div><span id="firstNameError"></span></div>
                br
                .form-group
                  label.col-sm-3.control-label(for='lastName') Last Name*
                  .col-sm-9
                    input#lastname.form-control(type='text' placeholder='Last Name' size='50' onblur='usern(4,12)' autofocus='' name='lastname')
                  #lName.text-danger.font-weight-bold.small
                  // <div><span id="lNameError"></span></div>
                br
                .form-group
                  label.col-sm-3.control-label(for='email') Email
                  .col-sm-9
                    input#email.form-control(type='email' placeholder='Email' size='50' onblur='userE()' name='email')
                  #email2.text-danger.font-weight-bold.small
                  // <div><span id="emailError"></span></div>
                br
                .form-group
                  label.col-sm-3.control-label(for='password') Password*
                  .col-sm-9
                    input#password.form-control(type='password' placeholder='Password' size='50' onblur='passW(8,12)' name='password')
                    #pwd.text-danger.font-weight-bold.small
                    // <div><small><span id="passwordError"></span></small></div>
                br
                .form-group
                  label.col-sm-3.control-label(for='password') Confirm Password*
                  .col-sm-9
                    input#confirmpassword.form-control(type='password' placeholder='Password' size='50' onblur='passC()' name='confirmpassword')
                    #pwdd.text-danger.font-weight-bold.small
                    // <div><small><span id="passwordError"></span></small></div>
                  br

                  label.col-sm-3.control-label(for='vehicleType')
                     Vehicle  Manager Role*
                  .col-sm-9
                    select.form-control(name='role' autofocus='' required)
                      option(value='Default' selected='') Click to Select Role
                      option(value='parkingManager') Parking section Manager
                      option(value='batteryManager') Battery section manager
                      option(value='tyreManager') Car tyre clinic section manager
                br
                button.btn.btn-primary.btn-block(type='submit' style='margin-left: 70px;') Signup
                button.btn.btn-primary.btn-block(type='reset' style='margin-left: 60px;') Clear
              // /form
            // ./container
            // Footer
            footer.page-footer.font-small.blue.bg-light
              // Copyright
              .footer-copyright.text-center.py-3
                | &copy; 2022 Copyright:
                a(href='/')  Parkville Day and Night Parking
              // Copyright
            script(src='/validation.js')
            // Footer
