<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/public/styles.css" rel="stylesheet">
    <script src="/public/bootstrap/js/bootstrap.js"></script>
    <title>Vehicle Registration</title>
</head>

<body class="bg-wrap-reg">

    <div>
        <img class="img-bg" src="../public/images/bob-flavin-pic.jpg" alt="Image">


        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container">
                <a class="nav-link nav-item" href="#">Parking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link nav-item" aria-current="page" href="#">Add Vehicle/Boda Boda</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Generate Report
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Parking Report</a></li>
                                <li><a class="dropdown-item" href="#">Sign-off Report</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- This is the logout button -->
                    <form class="d-flex ">
                        <button class="btn btn-outline-success logout-button" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- End of the nav bar -->


        <!-- Start of the form section -->
        <div class=" container py-5 h-100 ">
            <div class="container row justify-content-center ">
                <div class="col col-xl-10">
                    <div class="card bg-light ">
                        <div class="container col-md-9">



                            <form class="form-horizontal regform" role="form">
                                <h2> Sign Off</h2>

                                <div class="form-group">
                                    <label for="firstName" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="firstname" placeholder="First Name"
                                            class="form-control" autofocus name="name">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-3 control-label">Gender</label>
                                    <div class="col-sm-9">
                                      <select class="form-control" name="vehicle" autofocus>
                                        <option value="Default" selected="">Click to select gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        
                                      </select>
                                    </div>
                  
                                  </div>
                                <br>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-3 control-label">NIN Number*</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="idNumber" placeholder="Enter NIN number"
                                            class="form-control" autofocus name="usernin">
                                        

                                    </div>
                                </div>
                                
                                <br>
                                <!-- Adding phone number, -->
                                <div class="form-group">
                                    <label for="email" class="col-sm-3 control-label">Phone Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="email" placeholder="Customer Phone Number" class="form-control"
                                            name="phonenumber">
                                    </div>
                                    
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="receipt" class="col-sm-3 control-label">Receipt Number</label>
                                    <div class="col-sm-9">
                                        <input type="number" id="password" placeholder="Enter Receipt Number"
                                            class="form-control" name="receipt">

                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="date" class="col-sm-3 control-label">Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" id="date" class="form-control" name="dobirth">
                                        <div><small><span id="birthDateError"></span></small></div>

                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="time" class="col-sm-3 control-label">Time</label>
                                    <div class="col-sm-9">
                                      <input type="time" id="entryTime" placeholder="Enter Entry time" class="form-control">
                                    </div>
                                  </div>
                                  <br>
                                  <br>


                                <button type="submit" class="btn btn-primary btn-block"
                                    style="margin-left: 70px;">Register</button>


                                <button type="reset" class="btn btn-primary btn-block"
                                    style="margin-left: 60px;">Clear</button>


                            </form> <!-- /form -->
                        </div> <!-- ./container -->
                    </div>



                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>



    <!-- Footer -->
    <footer class="page-footer font-small blue bg-light">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="/"> Parkville Day and Night Parking</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

</html>