doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles2.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  title Parkville parking
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.nav-link.nav-item(href='/home') Home
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.nav.me-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.nav-item.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Parking Report
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            
            li
              a.dropdown-item(href='/signoff') Parking Sign-off Report
      // This is the logout button
      form.d-flex
        button.btn.btn-outline-success.logout-button(type='submit') Logout
// End of the nav bar
